<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="{{ url_for('lidar.index') }}">
        <img src="{{ url_for('static', filename='images/domus_logo.png') }}" height="40" class="me-2" alt="Logo Domus">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.index') }}">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.upload') }}">Téléverser</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.visualize') }}">Visualisation</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.preprocess_page') }}">Prétraitement</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.cluster_page') }}">Clustering</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.about') }}">À propos</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('lidar.contact') }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  